/** IMPORTS ------------------------------------------------------------------*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/** ROOT ---------------------------------------------------------------------*/
:root {
    /** FONTS ------*/
    --ff-body: 'Roboto', sans-serif;
    --ff-heading: 'Roboto', sans-serif;
    --ff-code: 'Roboto Mono', monospace;
    

    /** COLORS ------*/ 
    --color-0: #243c5a; /* Regal Blue */
    --color-1: #00296B; /* Royal Blue Dark */
    --color-2: #005A92; /* Lapis Lazuli */
    --color-3: #4169E1; /* Royal Blue Light */
    --color-4: #FDC500; /* Golden Poppy */
    --color-5: #FFD500; /*Gold Web Golden */
    
    
    --color-primary: var(--color-1);
    --color-secondary: var(--color-2);
    --color-tertiary: var(--color-3);
    --color-quaternary: var(--color-4);
    --color-quinary: var(--color-5);

    --color-accent: var(--color-5);
    --color-brand:  var(--color-3);

    
    /** FONT ------*/
    --font-color-primary: var(--color-0);
    --font-color-secondary: var(--color-1);
    --font-color-accent: var(--color-accent);
    --font-color-brand: var(--color-brand);


    /** BGs ------*/
    --bg-color-body:       rgb(226 232 240);
    --bg-color-parent:     rgb(241 245 249);
    --bg-color-child:      #DFDFDF;
    --bg-color-header:     #DFDFDF;
    --bg-color-accent:     var(--accent-color);
    --bg-color-quinary:    #DFDFDF;
}




/** NORMALIZING --------------------------------------------------------------*/

*, *::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    vertical-align: baseline;
}

body {
    scroll-behavior: smooth;
    
    /* Disabling user selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    line-height: 1.5;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;     
}

#root { /* Container for the application excluding the header and footer. */
    height: calc( 100vh - var(--header-height) - var(--footer-height) );
}



/** Branding and Universal Styles --------------------------------------------*/

body {
    font-family: var(--ff-body);
    color: var(--color-bdy-fnt);
    accent-color: var(--accent-color);
    font-size: var(--fs-500);
}


.page{
    background-color: var(--bg-color-parent);
    height: 100%;
    margin: auto 0.5rem;
    
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    --tw-shadow-color: #64748b;
    --tw-shadow: var(--tw-shadow-colored);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.page--title {
    display: block;
    padding-bottom: 1rem;
    line-height: 2.5rem;
    
    font-size: 2.25rem;
    letter-spacing: 0.025rem;
    text-align: center;
    padding-bottom: 1.25rem;
    
    /* justify-content: center; */
    /* align-items: center; */
    /* block text-4xl pb-5 tracking-wide center text-center */
}

.page--description {

    padding: 0 1rem;
    border-radius: 0.375rem;
}





/** COLOR SCHEME -------------------------------------------------------------*/


/** LIGHT THEME */
@media (prefers-color-scheme: light) {
    :root {
      
    }
  
    html {
      color-scheme: light;
    }
  }
  
  /** DARK THEME */
  @media (prefers-color-scheme: dark) {
    :root {
  
    }
  
    html {
      color-scheme: dark;
    }
  }
  
  
  